<% address ||= @address %>
<% billing ||= false %>

<p>
  <%= form.label :firstname, t(billing ? 'billing_firstname' : 'shipping_firstname') %><br/>
  <%= form.text_field :firstname, :class => 'required' %><span class="req">*</span>
</p>
<p>
  <%= form.label :lastname, t(billing ? 'billing_lastname' : 'shipping_lastname') %><br/>
  <%= form.text_field :lastname, :class => 'required' %><span class="req">*</span>
</p>
<p>
  <%= form.label :address1, t(:street_address) %><br/>
  <%= form.text_field :address1, :class => 'required' %><span class="req">*</span>
</p>
<p>
  <%= form.label :address2, t(:street_address_2) %><br/>
  <%= form.text_field :address2 %>
</p>
<p>
  <%= form.label :city, t(:city) %><br/>
  <%= form.text_field :city, :class => 'required' %><span class="req">*</span>
</p>
<% if Spree::Config[:address_requires_state] %>
  <p class="state-select" id="state_for_<%= billing ? 'bill' : 'ship' %>_address">
    <% have_states = !address.country.states.empty? %>
    <%= form.label :state_id, t(:state) %><br/>
    <span class="field"><%= render 'state_field', :prefix => billing ? 'bill' : 'ship', :value => address, :states => address.country.states.sort %></span>
    <span class="req">*</span>
  </p>
<% end %>
<p>
  <%= form.label :zipcode, t(:zip) %><br/>
  <%= form.text_field :zipcode, :class => 'required' %><span class="req">*</span>
</p>
<p>
  <%= form.label :country_id, t(:country) %><br/>
  <span id="<%= (billing ? "b" : "s") + "country" %>">
    <%= form.collection_select :country_id, Country.all, :id, :name, {}, { :class => 'country-select required' } %>
  </span>
  <span class="req">*</span>
</p>
<p>
  <%= form.label :phone, t(:phone) %><br/>
  <%= form.text_field :phone, :class => 'required' %><span class="req">*</span>
</p>

<% if billing %>
  <p class="field checkbox">
    <label for="wholesaler_use_billing">
      <%= check_box_tag 'wholesaler[use_billing]', '1', (!(@wholesaler.bill_address.nil? && @wholesaler.ship_address.nil?) && @wholesaler.bill_address.eql?(@wholesaler.ship_address)) %> <%= t(".use_for_shipping") %>
    </label>
  </p>  
<% end %>