<%= render 'spree/shared/wholesale_static_content' %>

<div class="apply">
  <h3><%= t('wholesale_apply') %></h3>
  <p>Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh.</p>
  <%= link_to 'Apply Now!', spree.new_wholesaler_path, :class => 'button' %>
</div>

<div class="login">
  <h3><%= t('wholesale_login') %></h3>
  <%= render 'spree/shared/login' %>
</div>
