<h1><%= t("wholesaler_account") %></h1>

<div class="leftie">

  <h5>Company:</h5>
  <h3><%= @wholesaler.company %></h3>

  <h5>Buyer_contact:</h5>
  <h3><%= @wholesaler.buyer_contact %></h3>

  <h5>Manager_contact:</h5>
  <h3><%= @wholesaler.manager_contact %></h3>

  <h5>Phone:</h5>
  <h3><%= @wholesaler.phone %></h3>

  <h5>Fax:</h5>
  <h3><%= @wholesaler.fax %></h3>

  <h5>Resale_number:</h5>
  <h3><%= @wholesaler.resale_number %></h3>

  <h5>Taxid:</h5>
  <h3><%= @wholesaler.taxid %></h3>

  <h5>Web_address:</h5>
  <h3><%= @wholesaler.web_address %></h3>

  <h5>Terms:</h5>
  <h3><%= @wholesaler.terms %></h3>

  <h5>Notes:</h5>
  <h3><%= simple_format @wholesaler.notes %></h3>

</div>

<div class="rightie">

  <div class="adr">
    <h4><%= t("bill_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.bill_address %>
  </div>
  <div class="adr">
    <h4><%= t("ship_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.ship_address %>
  </div>
</div>

<hr/>
